@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    background-color: black;
    color: white;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    
}
html{
    scroll-behavior: smooth;
}